// Import all partials
@require './_*.styl'

.header
    color white 
    background-color purple
    div
        display inline
    

h1 
    display inline
    padding 8px
    a
        text-decoration none !important
        color white

ul
    display inline
    li
        display inline
        padding 10px
        a
            text-decoration none !important
            color white


            
    
        
